<% title "Users" %>

<table>
  <tr>
    <th>Name</th>
    <th>Login</th>
    <th>Pass</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%=h user.name %></td>
      <td><%=h user.login %></td>
      <td><%=h user.pass %></td>
      <td><%= link_to "Show", user %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path %></p>
